@charset "UTF-8";

body {
	background: lightgray;
}

.ico-join {
	display: block;
	margin: 0 auto;
}

.join-wrap {
	width: 1000px;
	background: white;
	margin: 0 auto 0;
}

.agreementHeader {
	height: 130px;
	padding-top: 25px;
	border-bottom: 1px solid lightgray;
}

.join-body {
	padding-top: 25px;
}

.join-logo {
	display: block;
	width: 100px;
	margin: 0 auto;
	width: 100px;
}

.wrap-title {
	padding-top: 40px;
	padding-bottom: 20px;
}
