@charset "UTF-8";
.supportContainer {
	display: inline-block;
    width: 800px;
    margin-left: 30px;
    float: left;
}

.supportHeader {
	padding: 30px;
	font-size: 25px;
	border-bottom: 2px solid lightgray;
}

table {
	table-layout: fixed;
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: separate;
    }
    
.paging-top{
	padding: 10px;
}
    
.tableListArea, .tableArea-detail, .formArea, .tableArea-update {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding:30px;
	min-height: 300px;
}

.replyArea {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding:30px;
}

.tableListArea table{
	border-top: 2px solid #99a8c7;
}

.tableListArea td{
	text-align: center;
}

.tableListArea table, .tableArea-detail table, .formArea table, .tableArea-update table {
	border-top: 2px solid #99a8c7;
	border-bottom: 2px solid #dedede;
}

.tableListArea th, .tableArea-detail th, .formArea th, .tableArea-update th {
	font-weight:bold;
	text-align: center;
	background: #fcfcfd;
	
}

.tableListArea td, .tableListArea th, .tableArea-detail th, .tableArea-detail td, .formArea th,
.tableArea-update th,.tableArea-update td{
	padding: 12px 15px;
	border-bottom: 1px solid lightgray;
}

.tableListArea td, .tableListArea th, .tableArea-detail td, .tableArea-update td {
	border-left: 1px solid lightgray;
}

.formArea th{
	border-right: 1px solid lightgray;
}

.tableLeft-none, .textBox, .updateTextBox{
	border-left: none !important;
}

.updateTextBox{
	padding:0px !important;
}

.textDiv{
	min-height: 300px;
    padding: 20px;
}

.summerDiv{
	resize: none;
}

.support-btn{
	padding:20px;
}

.formArea{
	width:800px;
	margin-left: auto;
	margin-right: auto;
	padding:30px;
}

.boardBtn, .pagingArea button, .searchArea input, .supportContainer button{
	background:white;
	border:1px solid lightgray;
	padding: 5px 10px;
}

.tableArea-detail p{
	display:block;
	min-height:300px;
}

.searchArea{
	padding:30px;
}

.pagingArea button{
	border:none;
}

/* summerNote */
.note-editor {
	min-height: 400px;
}

.note-editor.note-frame .note-statusbar .note-resizebar {
	display: none;
}

.note-editor.note-frame {
	border: none;
}

.panel {
	margin-bottom: 0px;
}

.panel-default>.panel-heading {
	color: #333;
	background-color: #fcfcfd;
	border-color: #ddd;
}

.formArea input, .tableArea-update input {
	width: 100%;
	border: none;
}