@charset "UTF-8";
.supportContainer {
	position: absolute;
	display: inline-block;
	width: 940px;
	margin: 30px;
}

.supportHeader {
	padding: 30px;
	font-size: 30px;
	border-bottom: 1px solid lightgray;
}

.tableArea {
	width: 1000px;
	height: 350px;
	margin-left: auto;
	margin-right: auto;
	padding:30px;
}

.tableArea table, th {
	border: 1px solid lightgray;
	text-align: center;
}

.formArea{
	width:1000px;
	margin-left: auto;
	margin-right: auto;
	padding:30px;
}

